
body {
    font-family: Arial, Helvetica, sans-serif; /* indique la police de caratère */
    color: darkslategrey; /* couleur du texte */
    font-size: 16px; /* taille du texte */
    /* font-weight: bold; /* graisse (poids) de la font */
}

.bold {
    font-weight: bold;
}